{{#show-meta-info}}
    <aside id="meta">
        <span title="post date" class="post-info">{{{creation-date}}}</span>
        <span title="last modification date" class="post-info">{{modification-date}}</span>
        <span title="tags" class="post-info">{{{tags}}}</span>
        <span title="author" class="post-info">{{author}}</span>
    </aside>
{{/show-meta-info}}

{{#google-analytics}}
    <script>
     var _hmt = _hmt || [];
     (function() {
         var hm = document.createElement("script");
         hm.src = "https://hm.baidu.com/hm.js?36d44a2295ffa55a3ab51c6aa7a71733";
         var s = document.getElementsByTagName("script")[0];
         s.parentNode.insertBefore(hm, s);
     })();
    </script>
{{/google-analytics}}

<footer id="footer">
    <br />
</footer>
